@import url('https://fonts.googleapis.com/css?family=Poppins');



.homeContainer{
  padding-top: 10px;
  display: flex;
  overflow: hidden;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  height:1000px;
}

.homeLeft{
  width: 60%;
  padding-top: 250px;
  padding-left: 150px;
  color: white;
  font-size: 72px;
  
}

.homeRight{
  padding-top: 100px;
  text-align: right;
  flex-grow: 1;
  margin-right: 200px;
}

.loginContainer{
  align-items: center;
  text-align: center;
  line-height: 50px;
  border: 5px solid black;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(117,34,202), rgb(226,117,39));
  width: 100%-2rem;
  max-width: 600px;
  margin-inline: auto;
  margin-top: 8%;
  height: 400px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.content{
  width: 100%;
  
}

.topBar{
    font-family: 'Poppins', sans-serif;
    background: rgb(28,29,56);
    width: 100%;
    display: flex;
    overflow: hidden;
    color: white;
    height: 80px;


}

.logo{
  padding-left: 40px;
  display: flex;
  overflow: hidden;
}

.logoImage{
  padding-top: 4px;

}

.logoText{
  line-height: 16px;
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.linkBar{
  padding-right: 20px;
  padding-top: 26px;
  flex-grow: 1;
  text-align: right;

}

.connectButton{
  padding-right: 4%;
  padding-top: 18px;
  text-align: right;

}

.links{
  padding-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.profileContainer{
  align-items: center;
  text-align: center;
  line-height: 50px;
  border: 5px solid black;
  border-radius: 25px;
  background: linear-gradient(to right, rgb(117,34,202), rgb(226,117,39));
  width: 100%-2rem;
  max-width: 600px;
  margin-inline: auto;
  margin-top: 8%;
  height: 400px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

button {
  font-family: 'Poppins', sans-serif;
  border-radius: 18px;
  border: 0px solid white;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
}

html {
  background: #282955;
  margin:0;
  padding: 0;
}
body {
  margin:0;
  padding: 0;
}
